

body {
  margin-top: 40px;
 background-color:#E9EBF2;
 background-image: url("./img/cool-background.png");
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
   monospace;
}

#postData{
 text-align: center;
};

/* Global CSS */

